* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
section,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* --------------------------------------------------------- */
body {
  width: 100%;
  height: 100%;
  background: #100e19;
  color: #ffffff;
}

.wrapper {
  position: relative;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr minmax(auto, 1000px) 1fr;
      grid-template: 1fr/1fr minmax(auto, 1000px) 1fr;
}

.content {
  z-index: 1;
  padding: 50px 20px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.content__title {
  font-size: 42px;
  margin-bottom: 50px;
}

.content__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 40px;
}

.cards__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  cursor: pointer;
}

.cards__image {
  border-radius: 7px;
  position: relative;
  overflow: hidden;
  padding: 0 0 130% 0;
}

.cards__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.cards__title {
  font-size: 18px;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal.active {
  opacity: 10;
  z-index: 10;
}

.modal__card {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 800px;
  height: 450px;
}

.modal-card {
  padding: 10px;
  border-radius: 5px;
  background: #0f1b31;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100px 1fr;
  -ms-grid-columns: 300px 1fr;
      grid-template: 100px 1fr / 300px 1fr;
  gap: 20px;
}

.modal-card__image {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  border-radius: 7px;
  position: relative;
  overflow: hidden;
}

.modal-card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.modal-card__title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  padding-top: 15px;
  font-size: 24px;
}

.modal-card__desc {
  line-height: 2;
  font-size: 18px;
}

.modal-card__close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.modal-card__close span {
  background: #ffffff;
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.modal-card__close span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-card__close span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
